<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Personenverwaltung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Personenverwaltung"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <br/>
            <h1>Personenverwaltung</h1>

            <form action="#" th:action="@{/edit}" th:object="${form}" method="post">
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" id="firstname" th:field="*{firstname}"
                           placeholder="Enter your firstname">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" id="lastname" th:field="*{lastname}"
                           placeholder="Enter your lastname">
                </div>

                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}"
                           aria-describedby="emailHelp"
                           placeholder="Enter your E-Mail">
                </div>

                <div class="form-group">
                    <label for="birthdate">Birthdate</label>
                    <input id="birthdate" class="form-control" type="date" th:field="*{birthdate}"/>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="male">Male</label>
                    <input class="form-check-input" type="radio" name="gender" id="male" th:field="*{gender}"
                           th:value="m">
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="female">Female</label>
                    <input class="form-check-input" type="radio" name="gender" id="female" th:field="*{gender}"
                           th:value="f">
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="other">Other</label>
                    <input class="form-check-input" type="radio" name="gender" id="other" th:field="*{gender}"
                           th:value="f">
                </div>

                <input type="submit" class="btn btn-primary"/>
            </form>

            <a href="/persons" class="btn btn-primary">Overview</a>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/bootstrap-4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>